pkgbase = confy-addons
	pkgdesc = Implementation of symmetric and asymmetric encryption with AES and RSA algorithms for client applications of the Confy communication systemImplementation of symmetric and asymmetric encryption with AES and RSA algorithms for client applications of the Confy communication system
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/confy-security/confy-addons
	arch = any
	license = custom:GNU General Public License v3 (GPLv3)
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = https://files.pythonhosted.org/packages/d0/38/09229b8468a40746c6c1ea0c5ab580bd808c7968f4739cb353ca5828c401/confy_addons-1.2.0.tar.gz
	sha256sums = 0cdfb7ff7e2a354aae912e11acd915fcbdc0fe560e8ca211613700512ec1b6cf

pkgname = confy-addons
